:root {
    --primary-color: #0f3f58;
    --secondary-color: #50c4d1;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    }

body {
        color: var(--primary-color);
        font-family: Helvetica, Arial sans-serif;
        
    }
/*aheader stuyling*/
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position:-webkit-sticky;
   /* position: sticky;
    top:0;
    z-index: 9999;*/
}

header h1 {
    background-color: var(--secondary-color);
    text-align: right;
    width: 400px;
    padding: 20px;
    position: relative;
    right: 35px;
}

header h1 a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 40px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px 10px;
    border-spacing: 10px;
}
header nav ul li {
    padding: 0 10px;
}

header nav ul li a {
 
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);  
}

header nav ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius:  15px;
    text-shadow: none;
}
/*end header*/

/*Hero Section Styling*/
.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    background-position: 80%;
    position: relative;
    
   
}

.hero h2 {
    position: absolute;
    bottom:30px;
    right: 100px;
    background-color: var(--secondary-color);
    font-weight: bold;
    padding: 20px 20px;
}
/*End Hero Section*/

/*section styling*/
.about, .work, .contact{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin: 30px 0;
}

.flex-row {

width: 25%;
font-size: 30px;
text-align: right;
padding: 5px 30px;

}

.info, .apps, .data {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
width: 75%;
border-left: 5px solid var(--primary-color);
margin: 10px 0;
padding: 20px 20px;

}
/*end Section Styling*/
/*About Me styling*/
.info {
    font-size: 25px;
}
/*end contact section*/

/*Work Section Styling*/
.apps {
    display: flex;
    flex-wrap: wrap;
    ;
   
   
    
    
}
.card1, .card2, .card3, .card4, .card5 {
    
    border: 5px solid var(--secondary-color);
    margin: 10px 0 0 0;
    position: relative;
}

.card1 {
    height: 35%;
}

.card2, .card3, .card4, .card5 {
   
    height: 30.7%;
    
  
}

.card1-info, .card2-info, .card3-info, .card4-info, .card5-info {
    
    background-color: var(--secondary-color);
    
    width: 150px;
    height:100px;
    position: absolute;
    left: 0px;
    bottom: 100px; 
    text-align: center;
    margin: 0;
    padding: 30px 5px;
}
.card1:hover{
    opacity: 0.3;
}
.card2:hover{
    opacity: 0.3;
}
.card3:hover{
    opacity: 0.3;
}
.card4:hover{
    opacity: 0.3;
}
.card5:hover{
    opacity: 0.3;
}
/*End work section*/

/*Contact section styling*/

.data ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 30px 131px;;
}

.data ul li {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    font-weight: lighter;
    text-align: center;
    font-size: 1.55vw;
    color: var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
    
    
}

.data li {
    text-decoration: none;
    color: var(--secondary-color);
    margin: 10px 20px 50px 0;
  
}

.data a {
    text-decoration: none;
    color: var(--primary-color);
}


/*contact section end*/

/*Mobile info 
768+ looks good
375 and lower:  nav gets to small
320 and lower: nav gets to small & H1 starts to dissapear */

