:root {
    --primary-color: #0f3f58;
    --secondary-color: #50c4d1;
}
* {
margin:0;
padding:0;
box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial sans-serif;
    
}

/*appling styles to the header*/
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position:-webkit-sticky;
    position: sticky;
    top:0;
    z-index: 9999;
    
}

header h1 {
    width: 400px;
    height: 60px;
    margin: 0;   
    font-weight: bold;
    font-size: 36px;    
    text-align: center;
    background-color: var(--secondary-color);
    padding: auto;
    position:relative;
    right: 100px;
}

header h1 a {
    color: var(--primary-color);
    position: relative;
    left: 90px;
    top: 10px;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
    margin: 10px 20px 50px 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid var(--secondary-color);
}
/*End Header Section*/

/*Hero Section Styling*/
.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    background-position: 80%;
    position: relative;
    
   
}

.hero h2 {
    position: absolute;
    bottom:30px;
    right: 100px;
    background-color: var(--secondary-color);
    font-weight: bold;
    padding: 20px 20px;
}
/*End Hero Section*/

/*section styling*/
.about, .work, .contact {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 100px;
    justify-content: space-around;
    
}
/*section header styling*/
.about h2, .work h2, .contact h2 {
    padding: 0px 10px 80px 80px;
    text-align: right;
    font-size: 37px;
}
/*end section header styling*/

/*side boarder styling*/
.info, .apps, .data{
    border-left: 5px solid var(--primary-color);
    
}
/*About Me Style*/


.info {
    padding: 60px 100px;
    width: 80%;
}


/*Work section styling*/


.apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    border-left: 5px solid var(--primary-color);
}

.card1, .card2, .card3, .card4, .card5 {
    border: 5px solid var(--secondary-color);
    
    margin: 10px 0 0 0;
    position: relative;

}
.card1 {
    height: 35%;
}

.card2, .card3, .card4, .card5 {
    height: 30.7%;
  
}

.card1-info, .card2-info, .card3-info, .card4-info, .card5-info {
    
    background-color: var(--secondary-color);
    
    width: 150px;
    height:100px;
    position: absolute;
    left: 0px;
    bottom: 100px; 

/*end work section*/

/*Contact section styling*/


.data ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 30px 125px;;
}

.data ul li {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    font-weight: lighter;
    text-align: center;
    font-size: 1.55vw;
    color: var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
    
    
}

.data li {
    text-decoration: none;
    color: var(--secondary-color);
    margin: 10px 20px 50px 0;
  
}

.data a {
    text-decoration: none;
    color: var(--primary-color);
}

/*end contact section*/


/*Mobile info 
768+ looks good
375 and lower:  nav gets to small
320 and lower: nav gets to small & H1 starts to dissapear */
